.lider {
    margin-top: 100px;
    display: flex;

}

.names {
    gap: 100px;
    border: 1px solid red;
}

table th {
    border: 1px solid rgb(0, 0, 0);
    border-width: 3px;
}

table td {
    border: 1px solid black;
    border-width: 3px; 
    background-color: rgb(117, 117, 117);     
}

table tr td {
    padding: 0px 156px;
}

table th {
   padding: 15px;
}