 

.body{
    background: url(./images/noutbuk_klaviatura_podsvetka_215877_1280x720.jpg);
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #3d3d3d;
    text-align: left;
    padding: 25px;
    border-width: 2px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
 